<div class="card">
  <div class="card-body">
    <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <label for="username">
          Ingrese un usuario
        </label>
        <input id="username" type="text" formControlName="username" class="form-control" placeholder="Ingrese el user">

        <div class="alert alert-danger mt-2" [hidden]="username.valid || formUser.get('username')?.pristine">
          El usuario es requerido
        </div>

      </div>

      <div class="mb-2">
        <label for="email">
          Ingrese un email
        </label>
        <input id="email" type="text" formControlName="email" class="form-control" placeholder="Ingrese el email">

        <div class="alert alert-danger mt-2" [hidden]="formUser.get('email')?.valid || formUser.get('email')?.pristine">
          El email es requerido
        </div>

      </div>
      <button class="btn btn-primary" type="submit" [disabled]="formUser.invalid">
        Enviar
      </button>
    </form>
  </div>
</div>

{{ formUser.value | json}}
